* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar {
  background-color: black;
  color: white;
  padding: 4vm;
}

.navbar nav a {
  text-decoration: none;
  color: white;
}

.section video {
  width: 315px;
  height: auto;
  margin: 4vm;
}